.container {
  background-position: center;
  background-image: url("../images/1_NFJlE0Pvasatz8O8ZHqaoA.jpeg");
  background-size: cover;
  position: relative;
  height: 100vh;
  padding: 1rem;
  /* menu */
  /* menu icon */
  /* menu btn */
  /* 48em = 768px */
}

.container .shape {
  width: 350px;
  height: 350px;
  background-color: #ffaa17;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  clip-path: polygon(100% 0%, 100% 62%, 62% 100%, 0% 100%);
  z-index: 1;
}

.container .header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.container .header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-family: "yekan";
}

.container .header li a:hover,
.container .header .menu-btn:hover {
  background-color: #f4f4f4;
}

.container .header .logo.img {
  display: block;
  float: left;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
}

.container .header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.container .header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 1.5rem 0 1.5rem 9rem;
  position: relative;
  user-select: none;
}

@media (min-width: 320px) {
  .container .header .menu-icon {
    padding: 1.5rem 0 1.5rem 9rem;
  }
}

.container .header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.container .header .menu-icon .navicon:before,
.container .header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.container .header .menu-icon .navicon:before {
  top: 5px;
}

.container .header .menu-icon .navicon:after {
  top: -5px;
}

.container .header .menu-btn {
  display: none;
}

.container .header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.container .header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.container .header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.container .header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.container .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.container .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 320px) {
  .container .logo {
    display: flex;
  }
}

@media (min-width: 320px) and (min-width: 320px) {
  .container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 320px) and (min-width: 48em) {
  .container .header li {
    float: left;
  }
  .container .header li a {
    padding: 20px 30px;
  }
  .container .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .container .header .menu-icon {
    display: none;
  }
}

.container-text {
  text-align: right;
}

.container-text .text {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 14rem;
  font-family: "yekan", sans-serif;
  font-weight: bold;
  color: #fff;
}

.container .button {
  margin: 2rem 0 0 2rem;
  display: flex;
}

.container .button .btn {
  padding: 1rem;
  display: block;
  margin: 0.5rem;
  width: 8rem;
  outline: none;
  font-family: "yekan", sans-serif;
  position: relative;
}

.container .button .btn-1 {
  background-color: #ffaa17;
  border: 2px solid #ffaa17;
}

.container .button .btn-1:hover {
  background-color: transparent;
  border: 2px solid #bbbaba;
  color: #fff;
}

.container .button .btn-1 .fas {
  color: #000;
}

.container .button .btn-2 {
  border: 2px solid #bbbaba;
  background-color: transparent;
  color: #fff;
}

.container .button .btn-2 .fas {
  color: #ffaa17;
}

.container .button .btn-2:hover {
  background-color: #ffaa17;
  border: 2px solid #ffaa17;
}

.container .button .fas {
  font-size: 1.2rem;
  transform: rotate(225deg);
  position: absolute;
  top: 0;
  right: 0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

@font-face {
  font-family: yekan;
  src: url(/farsi/BYekan.eot);
  src: url(/farsi/BYekan.ttf);
  src: url(/farsi/BYekan.woff);
}
/*# sourceMappingURL=main.css.map */