@import "color";

.container {
  width: 100%;
  height: 140vh;
  background-image: url("../images/1_NFJlE0Pvasatz8O8ZHqaoA.jpeg");
  background-size: cover;

  /*
  .clip-path {
    width: 10rem;
    height: 150%;
    background-color: aqua;
    transform: translateX(40rem) rotate(43deg);
    overflow-x: hidden;
  }
  */
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-family: "yekan";
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }

  .header .logo.img {
    display: block;
    float: left;
    font-size: 1rem;
    padding: 10px 20px;
    text-decoration: none;
  }

  /* menu */

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  /* menu icon */

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 1.5rem 0 1.5rem 9rem;
    position: relative;
    user-select: none;
    @media (min-width: 320px) {
      padding: 1.5rem 0 1.5rem 9rem;
    }
  }

  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /* 48em = 768px */
  @media (min-width: 320px) {
    .logo {
      display: flex;
    }
    @media (min-width: 320px) {
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    @media (min-width: 48em) {
      .header li {
        float: left;
      }
      .header li a {
        padding: 20px 30px;
      }
      .header .menu {
        clear: none;
        float: right;
        max-height: none;
      }
      .header .menu-icon {
        display: none;
      }
    }
  }
  &-text {
    text-align: center;

    .text {
      display: inline-block;
      font-size: 1.2rem;
      margin-top: 9rem;
      font-family: "yekan", sans-serif;
      font-weight: bold;
      color: $color-white;
    }
  }
  .button {
    .btn {
      padding: 1rem;
      display: block;
      margin: 0.5rem;
      width: 8rem;
      outline: none;
      font-family: "yekan", sans-serif;
      .far {
        font-size: 5rem;
      }
    }
    .btn-1 {
      background-color: $color-one;
      border: none;
    }
    .btn-2 {
      border: 1px solid rgb(187, 186, 186);
    }
  }
}
