.section-5 {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .member-box {
    .picture {
      width: 25rem;
      height: 25rem;
      background-image: linear-gradient(
          rgba($colir-gray-dark, 0.6),
          rgba($colir-gray-dark, 0.5)
        ),
        url("/images/mohammad\ ali.jpg");
      background-size: cover;

      transition: 1s;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
    .plus {
      width: 4rem;
      height: 4rem;
      font-size: 1.5rem;
      background-color: $color-white;
      text-align: center;
      padding: 0.8rem 0;
      position: relative;
      left: 21rem;
      bottom: 25rem;
      font-weight: bolder;
    }
    .text {
      z-index: 2;
      position: relative;
      left: 3rem;
      bottom: 10rem;
      h2 {
        color: $color-white;
        font-size: 1.5rem;
      }
      span {
        color: $color-one;
        font-size: 1.4rem;
        font-weight: bolder;
      }
    }
  }
  .button {
    margin: 0;
    .btn {
      display: block;

      width: 12rem;
      outline: none;
      position: relative;
    }
    .btn-1 {
      color: $color-blue-dark;
      font-weight: bolder;

      transition: 1s;
      &:hover {
        background-color: $color-white;
        border: 2px solid $color-gray-light;
        color: $color-blue-dark;
      }
      .fas {
        color: $color-blue-dark;
      }
    }
  }
}
.statistics {
  .main {
    font-size: 1.5rem;
    color: $color-one;
    z-index: 6;
    display: inline-block;
    margin-top: 5rem;
    margin-left: 5rem;
    font-weight: bolder;
  }
  .hr-border {
    position: relative;
    top: -2.2rem;
    left: 0;
  }
}
