.section-5 {
  position: relative;

  .picture {
    width: 25rem;
    height: 25rem;
    background-image: linear-gradient(
        rgba($colir-gray-dark, 0.6),
        rgba($colir-gray-dark, 0.5)
      ),
      url("/images/mohammad\ ali.jpg");
    background-size: cover;
    position: relative;
    left: 3rem;
    top: 5rem;
    transition: 1s;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
  .plus {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    background-color: $color-white;
    text-align: center;
    padding: 0.8rem 0;
    position: absolute;
    right: 2.2rem;
    top: 5rem;
    font-weight: bolder;
  }
  .text {
    z-index: 2;
    position: relative;
    left: 4rem;
    bottom: 1rem;
    h2 {
      color: $color-white;
      font-size: 1.5rem;
    }
    span {
      color: $color-one;
      font-size: 1.4rem;
      font-weight: bolder;
    }
  }
  .btn-1 {
    color: $color-blue-dark;
    font-weight: bolder;
    position: relative;
    left: 9rem;
    transition: 1s;
    &:hover {
      background-color: $color-white;
      border: 2px solid $color-gray-light;
      color: $color-blue-dark;
    }
    .fas {
      color: $color-blue-dark;
    }
  }
}
