.section-1 {
  .gallery {
    margin-top: 2.5rem;
    position: relative;
    width: 100%;

    .image {
      position: absolute;
      left: 1rem;
    }
    .image-1 {
      width: 30rem;
      height: 27rem;
      padding-left: 2rem;
    }
    .image-2 {
      width: 12rem;
      height: 8rem;
      margin-top: 2rem;
      margin-left: 23rem;
    }
    .image-3 {
      width: 22rem;
      height: 18rem;
      margin-left: 9rem;
      margin-top: 20rem;
    }
    .ziro {
      width: 13rem;
      height: 22rem;
      position: relative;
      top: 10rem;
      z-index: 5;
    }
  }
  .description {
    position: relative;
    width: 100%;

    .main {
      font-size: 1.5rem;
      font-family: "jadid", sans-serif;
      color: $color-one;
      z-index: 6;
      display: inline-block;
      margin-top: 20rem;
      margin-left: 5rem;
    }

    h5 {
      font-family: "yekan";
      margin-right: 1rem;
      font-size: 2rem;
      text-align: right;
      margin-top: 1rem;
    }
    .sub {
      font-family: "yekan";
      font-size: 1.2rem;
      margin: 1.5rem;
      display: inline-block;
      color: $colir-gray-dark;
      text-align: right;
    }
  }
  .description-2 {
    position: relative;

    .user {
      margin-bottom: 2rem;
      margin-left: 1rem;

      .icon-1 {
        position: relative;

        .number {
          font-size: 2.5rem;
          color: $color-one;
          font-weight: 900;
          margin: 1.6rem 6rem;
          display: inline-block;
        }

        .user-load {
          position: absolute;
        }
        .fa-user {
          font-size: 1.5rem;
          position: absolute;
          top: 2rem;
          left: 2.2rem;
        }
      }
      .text {
        font-size: 1.5rem;
        text-align: right;
        margin-right: 1rem;
      }
      .fa-clock {
        font-size: 1.5rem;
        position: absolute;
        top: 2rem;
        left: 2.2rem;
      }
    }
  }
}
.hr-border {
  background: $color-one;
  transform: rotate(90deg);
  border: none;
  position: absolute;
  top: 20rem;
  margin: 0 3rem;
  width: 0.2rem;
  height: 2.5rem;
}
