.section-2 {
  position: relative;
  width: 100%;
  padding: 1rem;

  background-image: linear-gradient(
    rgba(228, 248, 250, 0.5),
    rgba(255, 255, 255, 0.3)
  );

  .content {
    @include flex-center(row);
    flex-direction: flex-direction;

    .text-2 {
      font-size: 1.5rem;
      font-family: "yekan";
      margin-top: 5rem;
      color: $color-one;
    }
    .hr-border {
      position: relative;
      top: 3rem;
    }
  }
  .cards-group {
    @include flex-center(column);
    flex-direction: flex-direction;
    .card {
      width: 90%;
      height: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0.03rem 0.03rem 0.5rem rgb(211, 208, 208);
      margin-top: 5rem;
      padding: 1rem;
      background-color: $color-white;

      .image {
        width: 5rem;
      }
      .text-cards-main {
        color: $color-blue-dark;
        font-family: "yekan";
        text-align: center;
      }
      .text-cards-sub {
        text-align: center;
        font-family: "yekan", sans-serif;
        color: $color-blue-dark;
      }
      .service-link {
        text-decoration: none;
        color: $color-blue-dark;
        font-family: "yekan";
      }
      .text-color {
        color: $color-white;
      }
      .text-color-2 {
        color: $color-one;
      }
    }
    .card-backgroud {
      background-color: $color-blue-dark;
    }
    .card-backgroud-2 {
      background-color: $color-one;
    }
  }
  .cta-inner {
    width: 100%;
    height: 15rem;
    background-color: $color-one;
    margin: 10rem 0 0 0;
    clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
    padding: 2rem;

    .cta-img {
      display: none;
    }
    .cta-span {
      display: inline-block;
      text-align: center;
      color: $color-blue-dark;
      font-size: 1.3rem;
      margin: 3rem 3rem 0.5rem 1.5rem;
      font-family: "yekan";
      font-weight: bold;
    }

    .cta-h2 {
      font-size: 2rem;
      color: $color-blue-dark;
      font-family: "yekan";
      text-align: right;
    }
  }
  .arrow {
    width: 4rem;
    height: 4rem;
    background-color: $color-blue-dark;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1rem;

    .fas {
      color: $color-white;
      font-size: 1.5rem;
      position: relative;
      top: 1.5rem;
      left: 1.5rem;
    }
  }
}
