.section-2 {
  position: relative;
  width: 100%;
  height: 15rem;
  background-image: linear-gradient(
    rgba(212, 249, 252, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .text-2 {
      font-size: 2rem;
      font-family: "yekan";
      margin-top: 5rem;
    }
    .hr-border {
      position: relative;
      top: 3rem;
    }
  }
}
