@import "header";
@import "section-1";
@import "section-2";
@import "section-3";
@import "section-4";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "yekan";
}
html {
  font-size: 100%;
}
@font-face {
  font-family: yekan;
  src: url(/farsi/BYekan.eot);
  src: url(/farsi/BYekan.ttf);
  src: url(/farsi/BYekan.woff);
}
@font-face {
  font-family: jadid;
  src: url(/farsi/BJadidBold.eot);
  src: url(/farsi/BJadidBold.ttf);
  src: url(/farsi/BJadidBold.woff);
}
