@import "header";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
html {
  font-size: 100%;
}
@font-face {
  font-family: yekan;
  src: url(/farsi/BYekan.eot);
  src: url(/farsi/BYekan.ttf);
  src: url(/farsi/BYekan.woff);
}
